.recommended {
  .container {
    display: flex;
    background-color: var(--black100);
    margin-bottom: 3.125rem;
  }

  .thumbnail {
    width: 40%;
  }

  .text {
    width: 60%;
    padding: 2rem;
    background-color: var(--black100);

    &--highlighted {
      display: inline-block;
      padding: 10px 30px;
      background-color: #b70208;
      border-radius: 40px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &--title {
      font-size: 2rem;
      margin-bottom: 1rem;
      @include line-one;
    }

    .info {
      &__author {
        font-size: 1rem;
        margin-right: 10px;
        font-weight: 900;
        text-decoration: underline;
        text-underline-position: under;
        text-transform: uppercase;
      }
      &__date {
        font-size: 0.8rem;
        color: var(--white200);
      }
    }
  }
}

@media (max-width: 1700px) {
  .recommended {
    .container {
      .thumbnail {
        width: 500px;
      }
      .text {
        width: calc(100% - 500px);
      }
    }
  }
}

@media (max-width: 1200px) {
  .recommended {
    .container {
      flex-direction: column;

      .thumbnail {
        width: 100%;
      }
      .text {
        width: 100%;
        .title {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .recommended {
    margin-top: 80px;
  }
}
