// 한줄 효과
@mixin line-one {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 한줄 이상
@mixin line($num) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}
